.image1{
    height: 26rem;
    margin-left: 9rem;
    padding-bottom: 5rem;
    margin-top: 2rem;

}
h2{
    margin-top: 2rem;
font-family: 'Fredoka One', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Outfit', sans-serif;
}
.middle-part{
    background-color: #F9F5E7;
}

#title{
    background-color: #F2CD5C;
    
}
.intropara{
    margin: 2rem 3rem 10rem 1rem;
    font-family: Poppins, sans-serif;
    text-align: left;
    line-height: 1.5;
    font-size: 2rem;
    
}
.container-fluid{
    padding:3% 15%;
}
.gapbutton{
    margin-left: 3rem;
}
.logo{
    font-size: 2rem;
}
.menucomp
{   color:black;
    font-size: 1rem;
}
.kerela{
    height: 15rem;
    
}
   

.arunachal{
    height: 15rem;
   
}

.jaipur{
    height: 15rem;
  
}

.middlecol{
    text-align: center;
    padding: 5%;
}
.imagepara{
    font-family: 'Itim', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Outfit', sans-serif;
    margin-top:2rem;
    line-height: 1.5;
}
.myhover{
    transition:height 0.5s;
}
.myhover:hover{
    height:16rem;
    
}
#features{
    background-color: #F2CD5C;
    text-align: center;
}
.feature-image{
    padding:5%;
    height: 20rem;
}
#partners{
    padding-top: 10%;
    text-align: center;
    background-color:#F9F5E7;
    margin-bottom:0;
    height: 5%;
}
.partner-image{
    height: 6rem;
    margin: -4rem 4rem;
    position: relative;
    left: 29rem;
    top: 0rem;
    z-index: 0;
}
.partner-image-left{
    height: 6rem;
    margin: -4rem 5rem;
    position: relative;
    left: -29rem;
    top: 4rem;
    z-index: 0;
}
#details{
    margin-top:0;
    background-color: #F9F5E7;
    padding:2% 5% 5% 5%;
    position: relative;
    z-index: 1;

}
.detail-col{
    text-align: center;
   
}
.detail-head{
    font-family: 'Amita', cursive;
    margin-bottom: 0;
}

.card{
    padding: 5%;
    margin:5%;


    transition:background-color 0.7s;
   
}
.card:hover{
    background-color: #F2CD5C;
    
}
@media (max-width:992px){
    .intropara{
        text-align:center;

    }
    
}
#sponsers{
    background-color: #F2CD5C;
}
.sponser-image{
    height:8rem;
    
    transition:border-radius 0.7s;

    

}
.sponser-image:hover{
   
    border-radius:100%;

}
.sponser-col{
    text-align: center;

}
.sponsor-row{
    padding:5%;
}
.sponser-heading{
    font-weight: 800;
    margin-top: 0px;
    margin-left: 45%;
}

#footer
{  background-color: #F9F5E7;
    padding:5%;
    text-align: center;

    

}
.footer-icon{
    font-style: none;
    font-family: Poppins, sans-serif;

}
.footer-heading{
    padding-bottom:3%;
    
    
}

.footerpara{
    margin-top:3%;
    
}
.footer-col
{
    text-align: center;
}